# Exercises Part I

In [1]:
import pandas as pd

In [ ]:
# floats = pd.Series([3, 4, 5, 6]).astype('float')

In [4]:
#Use pandas to create a Series named fruits from the following list:

fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [3]:
# see what't going on
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

#### 1. Determine the number of elements in fruits.

In [5]:
fruits.size

17

In [6]:
len(fruits)

17

#### 2. Output only the index from fruits.

In [9]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

#### 3. Output only the values from fruits.

In [10]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

#### 4. Confirm the data type of the values in fruits.

In [11]:
fruits.dtype

dtype('O')

#### 5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [12]:
fruits.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [15]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [19]:
fruits.sample(2)

15    gooseberry
16        papaya
dtype: object

#### 6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [20]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

#### 7. Run the code necessary to produce only the unique string values from fruits.

In [21]:
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

#### 8. Determine how many times each unique string value occurs in fruits.

In [22]:
fruits.value_counts()

kiwi                4
mango               2
honeydew            1
gooseberry          1
honeycrisp apple    1
gala apple          1
papaya              1
blackberry          1
tomato              1
strawberry          1
pineapple           1
watermelon          1
blueberry           1
dtype: int64

#### 9. Determine the string value that occurs most frequently in fruits.

In [32]:
fruits.value_counts().nlargest(n = 1, keep = "all")

kiwi    4
dtype: int64

#### 10. Determine the string value that occurs least frequently in fruits.

In [47]:
fruits.value_counts().nsmallest(n = 1, keep = "all")

honeydew            1
gooseberry          1
honeycrisp apple    1
gala apple          1
papaya              1
blackberry          1
tomato              1
strawberry          1
pineapple           1
watermelon          1
blueberry           1
dtype: int64

nsmallest() and nlargest() are are intersting in how the arguments work. If you pass in n = 1, and keep all, it will show all rows that have the largest/smallest value. But if you change to n = 2, it doen't return all rows for the largest/smallest 2 values, it says the same until n becomes greater than the number of duplicates of the highest/lowest value.